@model List<ControleEstoque.Web.Models.LocalProdutoModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = " Local de Armazenamento ";
    ViewBag.Lista = Model;
}

@section Styles{
    <link href="~/Content/Cadastro/LocalProduto.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
}

@section TituloGrid{

    <th>Nome</th>
    <th>Ativo</th>
    <th>Ação</th>
}

@section LinhaGrid{
    @foreach (var item in Model)
    {
        var ativo = (item.Ativo ? "SIM" : "NÃO");
        <tr data-id="@item.Id">
            <td>@item.Nome</td>
            <td>@ativo</td>
            <td>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    }
}

@section CamposCadastro{
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.CheckBox("cbx_ativo")
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        var QtdPaginas = @ViewBag.QtdPaginas;
        var TituloPagina =  '@ViewBag.Title';
        var urlConfirmar = '@Url.Action("SalvarLocalProduto", "CadLocalProduto")';
        var urlPaginacao = '@Url.Action("LocalProdutoPagina", "CadLocalProduto")';
        var urlRecuperar = '@Url.Action("RecuperarLocalProduto", "CadLocalProduto")';
        var urlExcluir = '@Url.Action("ExcluirLocalProduto", "CadLocalProduto")';
    </script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/Cadastro/LocalProduto.js"></script>
}