@model List<ControleEstoque.Web.Models.UsuarioModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = " Usuários ";
    ViewBag.Lista = Model;
}

@section Styles{
    <link href="~/Content/Cadastro/Usuario.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
}

@section TituloGrid{

    <th>Login</th>
    <th>Nome</th>
    <th>Ação</th>
}

@section LinhaGrid{
    @foreach (var item in Model)
    {
        <tr data-id="@item.Id">
            <td>@item.Login</td>
            <td>@item.Nome</td>
            <td>
                <a class="btn btn-warning btn-reset" role="button"><i class="glyphicon glyphicon-edit"></i> Reset</a>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    }

}


@section CamposCadastro{
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_login", "Login", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_login", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("ddl_perfil", "Perfil", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.DropDownList("ddl_perfil", new SelectList(ViewBag.ListarPerfil, "Id","Nome"), new { @class = "form-control" })
            </div>
        </div>

        <div id="senha_group" class="form-group">
            @Html.Label("txt_senha", "Senha", new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_senha", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="margin: 0 10px 0 10px">
            <div class="col-md-12">
                <h4 class="text-center">Perfis</h4>
                <div class="well" style="max-height: 300px; padding:5px; margin:0; overflow:auto">
                    <ul id="lista_perfil" class="list-group checked-list-box" style="margin-bottom:0">
                        @foreach(var perfil in (List<ControleEstoque.Web.PerfilModel>)ViewBag.ListarPerfil)
                        {
                            <li class="list-group-item">
                                <label style="margin-bottom:0">
                                    <input type="checkbox" data-id-perfil="@perfil.Id"/> @perfil.Nome

                                </label>
                            </li>
                        }

                    </ul>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script>
        var QtdPaginas = @ViewBag.QtdPaginas;
        var TituloPagina =  '@ViewBag.Title';
        var urlConfirmar = '@Url.Action("SalvarUsuario", "CadUsuario")';
        var urlPaginacao = '@Url.Action("UsuarioPagina", "CadUsuario")';
        var urlRecuperar = '@Url.Action("RecuperarUsuario", "CadUsuario")';
        var urlExcluir = '@Url.Action("ExcluirUsuario", "CadUsuario")';
        var urlResetSenha = '@Url.Action("ResetSenhaUsuario", "CadUsuario")';
    </script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/Cadastro/Usuario.js"></script>

}
